body{

margin:0;

font-family:
Arial,
sans-serif;

}
.logo{

font-size:24px;

font-weight:bold;

text-decoration:none;

color:black;

}

header{

height:70px;

border-bottom:1px solid #ddd;

display:flex;

align-items:center;

justify-content:center;

position:relative;

}



.logo{

font-size:24px;

font-weight:bold;

}



#menuBtn{

position:absolute;

left:20px;

font-size:25px;

border:none;

background:none;

}



.header-right{

position:absolute;

right:20px;

}



.header-right button{

border:none;

background:none;

font-size:22px;

}



#sidebar{

position:fixed;

left:-300px;

top:0;

width:250px;

height:100%;

background:white;

box-shadow:0 0 10px gray;

padding:40px;

transition:.3s;

}



#sidebar.open{

left:0;

}



#sidebar a{

display:block;

margin:30px;

}



.products{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:30px;

padding:40px;

}



.item img{

width:100%;

}



.item{

cursor:pointer;

}



#detail{

display:none;

padding:50px;

}



#detailImg{

width:400px;

}



button{

padding:10px 20px;

margin:5px;

}




#login{

display:none;

position:fixed;

top:100px;

right:50px;

background:white;

border:1px solid #ddd;

padding:30px;

}



input{

display:block;

margin:10px;

padding:10px;

}



.other img{

width:150px;

}
